# needed to prevent issue with prettier
default_language_version:
  node: 16.14.2

exclude: docs/source/notebooks/prect.ipynb
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: double-quote-string-fixer

  #  - repo: https://github.com/psf/black
  #    rev: 22.1.0
  #    hooks:
  #      - id: black-jupyter

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4

    hooks:
      - id: flake8

  #  - repo: https://github.com/PyCQA/isort
  #    rev: 5.10.1
  #    hooks:
  #      - id: isort

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.3
    hooks:
      - id: prettier

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.7
    hooks:
      - id: nbqa-pyupgrade
        additional_dependencies: [pyupgrade==2.7.3]
      - id: nbqa-isort
        additional_dependencies: [isort==5.9.3]

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black-jupyter
