pip
cmocean
cartopy
dask[complete]
matplotlib
netcdf4
numpy
scikit-image
scipy
xarray
xrft
cf_xarray
cartopy
nodejs
pandas
astropy
ipython
pooch
statsmodels
sphinx
sphinx_rtd_theme
nbsphinx
sphinx-reload
pillow
ipython
